* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #111 !important;
  overflow-x: hidden;
}

.global {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 7.7% 0;
  padding: 0 !important;
}

.header {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #232323;
}

.footer {
  padding-top: 100px;
  width: 100%;
  height: 373px;
  background: #232323;
  margin-top: 145px;
}

.menu-btn {
  color: white !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav {
  display: flex;
}

.logo {
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  width: 150px;
  height: 36px;
  padding-right: 0px;
  align-items: center;
  flex-shrink: 0;
  margin-right: 42%;
}

.nav-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

.how-it-works {
  margin-right: 8.2%;
}

.about-us {
  margin-right: 4.6%;
}
.ellipse-container {
  overflow: hidden;
}
.ellipse-1 {
  position: absolute;
  display: block;
  left: -539px;
  top: -478px;
  z-index: -1000;
  width: 1066px;
  height: 1066px;
  flex-shrink: 0;
  border-radius: 1066px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #5c1efe 0%,
    rgba(1, 0, 255, 0) 92.71%
  );
}

.ellipse-2 {
  position: absolute;
  display: block;
  right: -543px;
  top: 601px;
  z-index: -1000;
  width: 910px;
  height: 910px;
  flex-shrink: 0;

  border-radius: 910px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #00f0ff 0%,
    rgba(0, 240, 255, 0) 92.71%
  );
}

.ellipse-3 {
  position: absolute;
  display: block;
  right: 33px;
  top: 853px;
  width: 776px;
  height: 776px;
  flex-shrink: 0;
  border-radius: 776px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff2df7 0%,
    rgba(1, 0, 255, 0) 92.71%
  );
}

.ellipse-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-1 {
  width: 50%;
  height: 100px;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  display: block;
  float: left;
  margin-left: 0;
  width: 470px;
  height: 140px;
  display: block;
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 92.105% */
}

.description {
  margin-top: 25px;
  width: 338px;
  height: 96px;
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 45.238px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 106.105% */
}

.browse-btn {
  position: relative;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--5200-ff, #7041ea);
}

.browse-btn-label {
  color: #fff !important;
  text-align: center;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-container {
  margin-top: 44px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.register-btn {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--ffffff, #fff);
}

.register-btn-label {
  color: #fff !important;
  text-align: center;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-2 {
  display: flex;
  height: 100px;
  width: 50% !important;
  margin-top: 112px !important;
  margin-right: 0 !important;
  flex-direction: column;
}

.ai-experts-bar {
  padding: 19.6px 11.6px 21.8px 20.2px;
  width: 457px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  border: 1px solid #fff;
}

.section-3 {
  margin-top: 500px;
}

.section-3-title {
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px; /* 187.5% */
}

.section-container {
  display: flex;
}

.ai-expert-label {
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.colors {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 16px;
}

.social {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.color-container {
  display: inline-block;
  margin-right: 0 !important;
  gap: 10px;
}

.img-container {
  background-image: url("grid.png");
  display: flex;
  width: 456.739px;
  height: 456.739px;
  gap: 30.449px;
  flex-shrink: 0;
}

.img {
  position: relative;
  background-image: url("img.png");
  margin: 60px 91px !important;
  width: 274.73px;
  height: 274.73px;
  flex-shrink: 0;
}

.name {
  position: absolute;
  display: block;
  color: white !important;
  margin-top: 364px;
  margin-left: 178px;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.position {
  position: absolute;
  display: block;
  margin-top: 395px;
  margin-left: 157px;
  color: white !important;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-4 {
  background: #232323;
  width: 100%;
  height: 543px;
  display: block;
}

.number {
  color: rgba(255, 255, 255, 0.15) !important;
  font-family: Kanit;
  font-size: 110.118px;
  font-style: normal;
  font-weight: 600;
  line-height: 206.471px; /* 187.5% */
}

.number-container {
  display: flex;
  align-items: baseline;
}

.target-info {
  color: var(--ngl-mendel-gray-white, #fff) !important;
  width: 386px;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
}

.target-info-2 {
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* width: 386px; */
  margin-top: 36px;
}

.info-container {
  width: 33% !important;
  display: inline-block;
  flex-direction: column;
}

.info-gap {
  display: flex;
  gap: 30px;
}

.icon-container {
  background-image: url("logo-icon.png") !important;
  display: block;
  margin-left: -158px;
  margin-top: 121px;
  width: 629px;
  height: 629px;
  flex-shrink: 0;
}

.icon-label {
  color: rgba(255, 255, 255, 0.05);
  padding: 181px 179px;
  font-family: Kanit;
  font-size: 126.478px;
  font-style: normal;
  font-weight: 600;
  line-height: 237.147px; /* 187.5% */
}

.brain {
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px; /* 187.5% */
}

.flex-icon {
  display: flex;
  align-items: center;
  margin-top: 168px;
}

.brain-info {
}

.brain-info-2 {
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expert-ai-span {
  color: var(--00-f-0-ff, #00f0ff);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse-container {
  display: block;
  width: 100%;
}

.browse-category {
  color: var(--ffffff, #fff);
  font-family: Kanit;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px; /* 187.5% */
}

.browse-item-icon {
  width: 74.096px;
  height: 74px;
  margin-left: 36px;
  margin-top: 18.5px;
  flex-shrink: 0;
}

.department {
  margin-left: 36px;
  margin-top: 35px;
  width: 218.283px;
  height: 36.05px;
  flex-shrink: 0;
  color: #fff;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.item-container {
  display: inline-block;
  width: 360px;
  height: 349px;
  flex-shrink: 0;
  background: #232323;
}

.details {
  width: 330px;
  height: 60px;
  flex-shrink: 0;
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 36px;
  margin-top: 8.3px;
}

.more {
  width: 107.139px;
  height: 27.037px;
  flex-shrink: 0;
  color: #fff;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 36px;
  margin-top: 80px;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 30px;
}

.privacy {
  color: var(--ffffff, #fff);
  text-align: right;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-and-privacy {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  margin-right: 112px;
  margin-bottom: 61px;
}

hr {
  display: block;
  background: rgba(255, 255, 255, 0.2);
}

.copyright {
  color: var(--ffffff, #fff);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 20px;
}

.align-right {
  margin-right: 0 !important;
  color: white !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 1200px) {
  .how-it-works {
    margin-right: 6%;
  }

  .about-us {
    margin-right: 3%;
  }

  .logo {
    margin-right: 35%;
  }
}
