@tailwind base;
@tailwind components;
@tailwind utilities;

.roundShadowBlue {
  border-radius: 1066px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #5c1efe 0%,
    rgba(1, 0, 255, 0) 92.71%
  );
}
.roundShadowPurple {
  border-radius: 1066px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff2df7 0%,
    rgba(255, 45, 247, 0) 92.71%
  );
}
